---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import ExpierienceIcon from "../Icons/ExpierienceIcon.astro";
import CodeIcon from "../Icons/CodeIcon.astro";
import Experience from "../components/Experience.astro";
import ProfileCheck from "../Icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import MainContent from "../components/MainContent.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout
  title="Levid Tejada - Developer"
  description="Developer with experience in both frontend and backend, passionate about creating comprehensive and functional solutions, enthusiastic about exploring new technologies and using the most suitable ones for each case. Contact me to collaborate or learn more!"
>
  <main class="px-4">
    <SectionContainer class="py-32 md:py-36">
      <MainContent />
    </SectionContainer>
  </main>
  <div class="space-y-24 px-4">
    <!-- <SectionContainer id="experience">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <ExpierienceIcon class="size-8" />
        Experience
      </h2>
      <Experience />
    </SectionContainer> -->

    <SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="technologies">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Technologies
      </h2>
      <Technologies />
    </SectionContainer>

    <SectionContainer id="about-me">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-7" />
        About Me
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
