---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    company: "Soluciones Almonte Gil",
    title: "Internship - Software Developer",
    date: "Sep. 2023 - Jan. 2024",
    description:
      "Contributed to the development of a centralized permission request system that enhanced internal organization and efficiency.",
  },
  {
    company: "Coopesa",
    title: "Data Base Administrator",
    date: "Jun. 2024 - Feb. 2025",
    description:
      "Managed institutional database security and administration, ensuring data integrity while contributing to the IT support team.",
  },
  {
    company: "CoopSanRafael",
    title: "Data Analyst",
    date: "Feb. 2025 - Present...",
    description:
      "Respond to information requests by building custom database queries, ensuring data quality through cleansing processes, and delivering refined datasets.",
  },
  {
    company: "CTH Technology Group",
    title: "Software Developer",
    date: "Aug. 2025 - Present... (Remote)",
    description:
    "Software Developer responsible for AI integration and implementation within the project."
  }
];
---

<ol class="relative border-s border-black dark:border-white ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>